In [1]:
#define a function
def greet(person):
    print("Hello",person)
    print("How are you?")

In [2]:
greet("Tom")

Hello Tom
How are you?

In [3]:
#use print to display values, make calculations
print(26, 3+4, 3.14)
my_val = 34
print(my_val)

26 7 3.14
34

In [4]:
#semicolon is not required at the end of a statement, only if two statements are on the same line
#to print values on two separate lines, use a separator
print(23, 34, sep='\n')

23
34

In [5]:
#use input fields to get values from a user for a function
first_name = input("Please enter your first name: ")

Please enter your first name: Anna

In [6]:
empid = input("Please enter your employee ID: ")

Please enter your employee ID: 39428

In [10]:
empid

'39428'

In [11]:
type(empid)

str

In [12]:
#to turn a string to an integer, use the eval expression
empid = eval(input("Please enter your employee ID: "))

Please enter your employee ID: 39325

In [13]:
type(empid)

int

In [14]:
#eval takes an expression and evaluates it
eval("23") + 1

24

In [17]:
#easy way to perform a swap; before python assigns values to the variables on the left, it evaluates the potential values on the right side (simultaneous assignment)
a, b = 3+4, 3+5
print(a)
print(b)

7
8

In [18]:
a, b = b, a
print(a)
print(b)

8
7

In [19]:
#single-slash division always returns a single number
#integer division
#remainder
print(10/3)
print(10//3)
print(10%3)

3.3333333333333335
3
1

In [20]:
round(3.6)

4

In [21]:
int(3.6)

3

In [22]:
import math

In [23]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'trunc']

In [24]:
math.ceil(3.2)

4

In [25]:
float(10.0)

10.0

In [27]:
for l_index in [1,2,3,4]:
    print("Number:", l_index)

Number: 1
Number: 2
Number: 3
Number: 4

In [28]:
#convert to list to make visible the contents of a range
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
my_str = "Hello Bob"
my_str

'Hello Bob'

In [30]:
my_str[0]

'H'

In [31]:
my_str[0:5]

'Hello'

In [32]:
my_str[:6]

'Hello '

In [33]:
my_str[-2]

'o'

In [34]:
my_str[2:-2]

'llo B'

In [35]:
my_str[1:8:2]

'el o'

In [36]:
"Hello" + "World"

'HelloWorld'

In [37]:
"Hello" * 3

'HelloHelloHello'

In [38]:
len(my_str)

9

In [39]:
for char in my_str:
    print("Letter:", char)

Letter: H
Letter: e
Letter: l
Letter: l
Letter: o
Letter:
Letter: B
Letter: o
Letter: b

In [40]:
#cannot change the value of a character in a string, but you can do so in a list
your_str = ["H","e","l","l","o"]
your_str

['H', 'e', 'l', 'l', 'o']

In [41]:
for letter in your_str:
    print(letter, end='')

Hello

In [42]:
your_str[2] = "k"

In [43]:
your_str

['H', 'e', 'k', 'l', 'o']

In [45]:
#ord and chr provide the codes for values
print(ord("a")) #ord() Takes a string representing one Unicode character, return an integer representing the Unicdo
print(chr(98))
print(chr(20320))

97
b
你

In [46]:
str1 = "this is my test string"
str1.capitalize()

'This is my test string'

In [48]:
str1.upper()

'THIS IS MY TEST STRING'

In [49]:
str1.title()

'This Is My Test String'

In [50]:
str1.split()

['this', 'is', 'my', 'test', 'string']

In [51]:
str1.replace("test","new")

'this is my new string'

In [52]:
str1.find("my")

8

In [53]:
str1.center(30,"a")

'aaaathis is my test stringaaaa'

In [54]:
str1.center(40,"-")

'---------this is my test string---------'

In [55]:
str1.ljust(40,'-')

'this is my test string------------------'

In [56]:
str1.rjust(40,'-')

'------------------this is my test string'

In [57]:
str2 = "    hello"
str2.lstrip()

'hello'

In [58]:
float("3.14")

3.14

In [60]:
my_num = float(input("$ "))

$ 5

In [62]:
#eval is more powerful than int and float
print(eval("3+3*4"))
print(int("010"))
print(eval("010"))

15
10

SyntaxError: invalid token (<string>, line 1)